:root{
  --primary-text-color:#212121;
  --title-text-color:#FFFFFF;
  --accent-color: #2196F3 ;
  --button-active-color:#188CE8;
  --contact-color: #757575;
  --background-color: #2F303A;
  --background-color-our-team: #F5F4FA;
  --world-studio-color: #000000;
}

.body{
    font-family: 'Roboto', sans-serif;
    

    background-color:var(--title-text-color);

}

/*HEADER*/

.header{
   background-color: var(--title-text-color);
}

.logo-link{
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;

   color: var(--accent-color);
}

.color-web{
    color: var(--accent-color);
}

.color-studio{
    color: var(--world-studio-color);
}

.color-studio-1{
    color: var(--title-text-color);
}


/*Navigation*/
.menu{
    color: var(--primary-text-color);
}

.nav-list{
    
    
}

a{
    text-decoration: none;
}

.list{
    list-style: none;
}

.list-link:hover,
.list-link:focus{
    color: var(--accent-color);
}

.list-link{
    
}

/*CONTACTS*/
.information-contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    list-style: none;

    color: var(--contact-color);
}

.contact-email:hover{
     color:  var(--accent-color);
}


.contact-email,
.contact-number{
    
}



/*=========MAIN============*/

.main{

}

/*HERO*/

.hero{
background-color: var(--background-color);
}

.title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--title-text-color);
}

.modal-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    
    letter-spacing: 0.06em;

    color: var(--title-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor:pointer;
}

.modal-button:active{
    background: var(--button-active-color);
}

/*PREFER*/
.section-preference{

}

.preference-list-item{

}

.caption{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.subtitle{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-text-color);
}

.text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--contact-color);
}

/*==== What-are-we-do====*/

.our-work{

}

.col-3{

}

.aboutUs-list-item{

}

.img-about-us{

}


/*====OUR TEAM====*/

.sectionOurTeam{
    background-color: var(--background-color-our-team);
}

.column-4{

}

.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.profession{
    font-size: 16px;
    line-height: 1.18;
    
    letter-spacing: 0.03em;

    color: var(--contact-color);
}


/*=====FOOTER-INFORMATION======*/

.footer{
    background-color: var(--background-color);
}

.address{
    font-style: normal;
}

.map{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.address-email{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--contact-color);
}

.address-number{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--contact-color);
}